<div class = "edit-tag">

  <i><h2>Please change your tag name</h2></i>

  <form action="/tag/<%= @tags.id %>/edit" method="post">
    <input type="text" name="tag_name" value="<%= @tags.tag_name %>">
    <input  type="submit" value="Edit Tag">
  </form>

</div>
