

  <h1>New Tag</h1>
  <hr/>

  <form action="/tag/new" method="post">
    <label for="tag_name">tag: </label>
    <input type="text" name="tag_name">



    <input type="submit" value="Save">
  </form>
</div>
