<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <div class="grid">
    <div class="cell"><form action="/"><input type="submit" value="Home" id="click"></form></div>
    <div class="cell"><form action="/merchant"><input type="submit" value="Merchant" id="click"></form></div>
    <div class="cell"><form action="/tag"><input type="submit" value="Tag" id="click"></form></div>
    <div class="cell"><form action="/transaction"><input type="submit" value="Transactions" id="click"></form></div>
  </div>
  <section class="section">
    <%= yield %>

  </section>
</body>
</html>
