<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <ul>
      <li>
        <input class="btn btn--tracker" type="submit" value="add transaction" />
        <input class="btn btn--tracker" type="submit" value="delete transaction" />
        <input class="btn btn--tracker" type="submit" value="view all transactions" />
      </li>
  </nav>
  <%= yield %>

</body>
</html>
