<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spending Tracker</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <form action="/"><input type="submit" value="Home"></form>

  <%= yield %>

  <!-- <div id="create-container" class="container"> -->
  <br>
  <br>
  <br>
  <form action="/merchant"><input type="submit" value="Merchant"></form>
  <form action="/tag"><input type="submit" value="Tag"></form>
  <form action="/transaction"><input type="submit" value="Transactions"></form>
  <form action="/transaction/new"><input type="submit" value="create"></form>
  <form action="/transaction/edit"><input type="submit" value="delete"></form>



</body>
</html>
