body {
  background-repeat: no-repeat;
  background-size: auto;
  background-size: 75% 50%;
  background-position: center;
  background-color: gold;

}

.button {
  padding: 20px;
}

.tag-table {
  color: white;
}


.tag-para {
  font-size: 16px;
  border: 2px solid black;
  margin-right: 1300px;
  background-color: white;
  color: black;
}

.new-tag {
  font-family: helvetica;
  font-size: 20px;
}

.merchant-para {
  font-size: 16px;
  border: 2px solid black;
  margin-right: 1300px;
  background-color: white;
  color: black;

}

.new-merchant {
  font-family: helvetica;
  font-size: 20px;
  color: black;
}

#witcher {
  padding-top: 85px
}

h1 {
  padding: 10px;
  color: white;
  font-family: helvetica;
  font-size: 40px;
  background-color: #000000;
  margin: 0;
}

.merchant_name {
  padding-right: 40px;
}

.tag_name {
  padding-right: 40px
}

.grid {
  display: flex;
  justify-content: center;
}

#click {
  width: 8em; height: 2em;
  font-size: 20px;
  color: black;
}

.grid {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  color: gold;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.table-text {
  color: white;
}

grid:focus {
    background: #0053ba;
}
.form{
  font-family: helvetica;
  border: 1px;
  font-size: 15px;

}

.center {

  padding-bottom: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  size: 100%;
}
.edit-tag {
  display: flex;
  flex-direction: column;
}


.container-header {
  display: flex;
}

.container {
  display: flex;


}

a:hover {
  color: white;
}

a {
  padding-left: 40px;
  color: white;
}

.btn {
  color: red;
  font-family: helvetica;
  font-size: 60px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

}

td:hover {
  color: gold;
}

table {
  color: green;
  border-collapse: inherit;
  width: 100%;
}

.class {
  display: flex;
  flex-direction: column;
}

table, td, tr {
  border: 1px solid gold;
  font-family: bold helvetica;
  height: 50px;
  text-align: center;
  background-color:	rgb(102, 122, 153);
  color: white;
}

h2, h3, .home {
  font-size: 30px;
  font-family: helvetica;
  color: white;
  text-align:justify;
}


.response {
  color: white;
  border: 2px solid black;
  margin-right: 1300px;
  background-color:	rgb(102, 122, 153);
  font-size: 15px;
}

p {
  font-size: 14px;
  color: white;
  font-family: helvetica;
}

h3 {
  color: black;
}

.row {
  font-family: helvetica;
  color: white;
}
