body {
  background-color: rgb(40, 109, 135);
}

h1 {
  padding-left: 40px;
  color: white;
  font-family: helvetica;
  font-size: 30px;
  background-color: #000000;
  border-bottom: 1px solid #7b847b;
  color: #fff;
}

a {
  border-bottom: 1px solid #7b847b;
  padding-left: 40px;
  color: white;
}

.btn {
  color: black;
  font-family: helvetica;
  font-size: 30px

}

.home {
  font-size: 25px;
  font-family: helvetica;
  color: white;
}

label {
  font-family: helvetica;
  color: white;
  font-size: 20px;
  align-items: center;
}

p {
  font-size: 15px;
  color: white;
  font-family: helvetica;
}

u {
  color: white;
}

.value {
  font-size: 80px;
  font-family: helvetica
}

.topnav {
  color: black;
}

form {
  font-size: 25px;
}

.row {
  color: white;
  font-family: helvetica;
}

h3 {
  color: white;
}
