<i><h1>All Transactions</h1></i>
</nav>
<body>

<% for transaction in @transaction %>
  <p>Merchant: <%= transaction.merchant_id() %> </p>
  <p>Tag: <%= transaction.tag_id() %></p>
  <u><p>Total: <%= transaction.value() %></p></u>
<% end %>

</body>
