<i><h1>NEW TRANSACTION</h1></i>
  <hr/>


<form action="/transaction/new" method="post">
<label>Select a merchant:</label>
  <div id="create-container" class="container">
  <select name="merchant_id">
    <% for merchant in @merchants %>
    <option value="<%= merchant.id %>"><%= merchant.merchant_name %></option>
    <% end %>
  </select>

<label>Select a tag:</label>
  <select name="tag_id">
    <% for tag in @tags %>
    <option value="<%= tag.id %>"><%= tag.tag_name %></option>
    <% end %>
  </select>

<input type="number" name="value">
<input type="date" name="day">


<input type="submit" value="add transaction">

</form>
