<p>Merchant: <%= @merchant.merchant_name %></p>
<p>Tag: <%= @tag.tag_name %></p>
<p>Value: <%= @transaction.value %></p>
<p>Edit Transaction</p>

<form action="/transaction/<%= @transaction.id %>/delete" method="post"><input type="submit" value="Delete"/>
</form>
