<div class="container" id="edit-container">

  <form action="/merchant/<%=@merchants.id%>/edit"method="get">

<select name="tag_id">
  <% for tag in @tags %>
  <option <%= 'selected' if tag.id == @merchants.tag_id %> value="<%=tag.id%>"><%=tag.tag_name%></option>
  <% end %>
</select>
<input type="submit" value="Save">
</form>
