<i><h1>MERCHANTS</h1></i>

<br>
<br>

<form action="/merchant/new"><input type="submit" value="Create Merchant"></form>
<br>
<table>
  <tr>
    <td class="tag-table"><% for merchant in @merchants %></td>

    <td><p><a class="merchant_name" href="/merchant/<%= merchant.id %>"> <%= merchant.merchant_name %></a></p></td>
    <% end %>
  </tr>
</table>
