<i><h1>MERCHANTS</h1></i>
  <hr/>

    <form action="/merchant/new"><input type="submit" value="Create Merchant"></form>
    </nav>
  <br>


<div class="merchant">

  <% for merchant in @merchants %>
  <div class="merchant-info">

    <p><a class="merchant_name" href="/merchant/<%= merchant.id %>"> <%= merchant.merchant_name %></a></p>
  </div>
  <% end %>

</div>
