  <h1>New Merchant</h1>
  <hr/>

    <nav class="topnav">
    <a class="home" href="/">Home</a>
    </nav>
  <br>

  <form action="/merchant/new" method="post">
    <label for="merchant_name">Merchant: </label>
    <input type="text" name="merchant_name">



    <select name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%=merchant.id%>"><%=merchant.merchant_name%></option>
      <% end %>
    <!-- this select method creates a drop down option wth all current merchant names created so far -->



    <input type="submit" value="Save">
  </form>
</div>
