<i><h1>NEW MERCHANT</h1></i>
<br>
<form action="/merchant/new" method="post">
  <p class="merchant-para">ADD A NEW MERCHANT</p>
  <label class="new-merchant" for="merchant_name">Merchant: </label>
  <input type="text" name="merchant_name">





  <input type="submit" value="Save">
</form>
</div>
