

  <h1>New Merchant</h1>


  <form action="/merchant/new" method="post">
    <label for="merchant_name">Merchant: </label>
    <input type="text" name="merchant_name">





    <input type="submit" value="Save">
  </form>
</div>
