<div id="create-container" class="container">

  <h1>New Merchant</h1>
  <hr/>

  <form action="/merchant" method="post">
    <label for="merchant_name">Merchant: </label>
    <input type="text" name="merchant_name">

    <!-- this select method creates a drop down option wth all current merchant names created so far -->




    <input type="submit" value="Save">
  </form>
</div>
